{% load static %}
<div>
    <span>您正在浏览的网站：<strong>让阳光照进心中</strong>！</span>
    <sapn class="mx-5">Power by: <strong>Django & Bootstrap </strong></sapn>
    <span class="mx-5">网站续航：<strong>{{ daytime }}</strong>天</span>
    <span style="margin-left:85px;">联系我：<strong><a href="https://github.com/noorwellwood" target="_blank" style="text-decoration:none;">@github</a></strong></span>
</div>
<div class="my-2">
    <span>&copy;2020 guitarcoder.live 版权所有</span>
    <span style="margin-left:80px;"><a href="http://www.beian.miit.gov.cn"  target="_blank" style="text-decoration:none;"><strong>桂ICP备19010761号-1</strong></a></span>
    <span style="margin-left:150px;"><a href="http://www.beian.miit.gov.cn"  target="_blank" style="text-decoration:none;"><strong></strong></a></span>
</div>
<div class="my-2" style="text-align:center;">

</div>